<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
  <a class="navbar-brand" href=""><img src="assets/img/WE_CARE_LOGO_1.svg" width="50%" height="112.68px" alt="We Care Logo"></a> 
   
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav mx-auto">
  <li class="nav-item">
  <a class="nav-link active" aria-current="page" href="">Home</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="#sobre">Sobre</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="#recompensas">Recompensas</a>
  </li>
  </ul>
  
  <a routerLink="/login" class="btn login-btn" role="button">Fazer Login</a>
  </div>
  </div>
</nav>
<!-- Fim Navbar -->
<!-- Primeira Sessao-->
<header class="container first-section">
  <div class="row align-items-center">
      <div class="col-md-6 first-text">
      <h1 class="site-title">
        Junte-se a nossa
        comunidade
      </h1>
      <p class="site-description">
        Receba todo apoio necessário e<br>
        ajude podendo ganhar recompensas!
      </p>

      <a routerLink="/register-user" class="btn cadastrar-btn mt-3" role="button">Cadastrar-se <i class="bi bi-arrow-right"></i></a>
      </div>

      <div class="col-md-6 pt-5 facaparte-image">
          <img src="assets/img/ELEMENTO.png" class="img-fluid" >
      </div>
  </div>
  </header><br>
<!-- Fim da 1sessao -->
<!-- Sobre -->
<br>
<section class="sobre container">

    <div class="row align-items-center">
    <div class="col-md-4">
      <div class="sobre-imagem">
    <img  src="assets/img/FOTO.svg" width="1000px" alt=""></div>
    </div>

    <div class="col-md-5 offset-md-2">
      <div class="sobre-img">
        <img src="assets/img/we_care_icone.png"  width="35px" text-align="center" alt="">
    <h2 class="sobre-titulo">Sobre</h2></div>
    <br>
        <p class="sobre-descricao">
          Partimos de uma iniciativa de apoio à quem necessita de ajuda em seus afazeres do dia a dia utilizando a tecnologia.
          <br><br>
          Temos um sistema que facilita a conexão entre pessoas que querem ajudar/doar com as que precisam receber. 
        </p>
        <a href="" class="btn more-btn mt-3" role="button">Saiba Mais</a>
        </div>
        
    </div>
</section>
<!-- Fim Sobre-->
<br><br>
<!-- Recompensas -->

<section class="recompensas-row container">
  <div class="row align-items-center">
  
      <div class="col-md-6">
    <h2 class="recompensas-title">	Ajude e ganhe recompensas</h2>

          <p class="recompensas-description">
              Aproveite descontos e promoções exclusivas<br> oferecidas pelos nossos parceiros, e use suas<br> moedas para vivenciar experiências e trocar por <br>brindes incríveis.
          </p></div>

          <div class="col-md-6 text-center">
              <img src="assets/img/RECOMPENSAS.svg" >
          </div>
<!--F-->
<footer>
  <div class="footer container">
      <div class="footer col text-center">
      <p class="copyright mt-3">
        © 2022 | All rights reserved</p>
      </div>
