/*-------------------------------------------------------
Navbar
-------------------------------------------------------*/
.navbar {
  padding: 20px;
}
.navbar .nav-link {
  font-size: 1.2rem;
  margin: 0 20px;
  font-weight: 600;

}
.navbar .nav-link:hover, .navbar .nav-link.active {
  color:  #4282F7;
}
.navbar .nav-link:hover::after, .navbar .nav-link.active::after {
  content: "";
  display: block;
  border-radius: 5px;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

  /*-------------------------------------------------------
Frist Section
-------------------------------------------------------*/
.first-section .site-title {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1em;
}
.first-section .site-description {
  font-weight: 400;  
  font-size: 1.2rem;
}

 /*Sobre*/
 .sobre-img{
  display: flex;
  align-items: center;
  gap: 15px;
 }
.sobre-titulo{
  font-weight: 800;  
  text-align: center;
}
.sobre-descricao {
font-size: 1.2rem;
font-weight: 400;
}

/*recompensas*/
.recompensas-section{
  margin-top: 70px;
}
.recompensas-description {
 font-size: 1.2rem;
}
.recompensas-title{
 font-weight: 700;
}
/*estilo da div column*/
.recompensas-row{
  display: flex;
  flex-direction: row;
}
/*Footer-*/
footer {
  margin-top: 100px;
  padding-bottom: 30px;
  justify-content: center;
}
footer .copyright {
  font-size: 1.1rem;
}

/**/
@media (max-width: 900) {
  .sobre-imagem {
    display: none;
  }
}
