<main>
  <section class="pecaajuda section">
    <div class="peca__ajuda bd-container bd-grid">
      <div class="pecaajuda__conteudo">
        <h2 class="section-title-center peca__ajudatitle">Solicite seu chamado</h2>
        <p class="peca__ajudadescricao">
          Sabemos que a situação não é das melhores, mas nosso site está aqui
          <br />justamente para nos ajudarmos nesse momento tão complicado.
        </p>
        <a routerLink="/wecare/chamado/cadastrar" class="btnAjuda"
          >Realizar um chamado</a
        >
      </div>
    </div>
    <br />

    
  </section>
</main>
