<main>
  <h4>Categoria</h4>
  <hr />

  <form [formGroup]="categoriaForm">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input
        type="email"
        class="form-control"
        id="nome"
        formControlName="name"
      />
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea
        class="form-control"
        id="descricao"
        rows="3"
        formControlName="description"
      ></textarea>
    </div>

    <div style="text-align: end">
      <button
        type="button"
        class="btn btn-primary mr-3"
        (click)="salvar()"
        [disabled]="categoriaForm.invalid"
      >
        {{ isAlterando ? "Atualizar" : "Cadastrar" }}
      </button>
      <button type="button" class="btn btn-danger" (click)="resetForm()">
        {{ isAlterando ? "Cancelar" : "Limpar" }}
      </button>
    </div>
  </form>

  <hr />
<table>
  <thead>
    <tr>
      <th class="text-center" scope="col">ID</th>
      <th class="text-center" scope="col">Nome</th>
      <th class="text-center" scope="col">Descrição</th>
      <th class="text-center" width="100" scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias">
      <th class="text-center" scope="row">{{ categoria.id }}</th>
      <td class="text-center">{{ categoria.name }}</td>
      <td class="text-center">{{ categoria.description }}</td>
      <td class="text-center" width="100">
        <i
          class="bx bxs-pencil text-warning mr-3 add-cursor-pointer"
          (click)="preencherForm(categoria)"
        ></i>
        <i
          class="bx bxs-trash text-danger add-cursor-pointer"
          (click)="excluir(categoria.id)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
<br />
<div class="listagem__vazia" *ngIf="!categorias">Nada a ser mostrado</div>
</main>