
main{
  margin: 100px;
  padding: 50px;
}

.header-ajuda{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 33px;
}

.add-item{
  width: 30px;
  background: #29d654;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  &:hover{
    transform: scale(1.1);
    background: #40ec6b;
    cursor: pointer;
  }
  i{
    color: white;
    font-size: 16px;
    font-weight: 900;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: auto;
  margin: auto;
  width: 100%;
}

table thead tr {
  background-color: #4282F7;
  color: #ffff;
}

table tr {
  background-color: #ffff;
  border: 1px solid #ccc;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #4282F7;
  // max-width: fit-content;
  margin-bottom: 10px;
}
// Botões
.btnEditar {
  border: none;
  // border-radius: 5px 0 0 5px;
  border-radius: 5px;
  background-color: #ffc107;
  color: #ffff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 5px;
}
.btnDeletar {
  border: none;
  // border-radius: 0 5px 5px 0;
  border-radius: 5px;
  background-color: red;
  color: #ffff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 5px;
}
.btn-success {
  border: none;
  // border-radius: 0 5px 5px 0;
  border-radius: 5px;
  background-color: rgb(13, 207, 62);
  color: #ffff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 5px;
}
.btn-warning {
  border: none;
  // border-radius: 0 5px 5px 0;
  border-radius: 5px;
  background-color: rgb(255, 196, 0);
  color: #ffff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 5px;
}
// Ícones
.bx {
  font-size: 1.25rem;
}