<main>
  <div class="header-ajuda">
    <h4>Chamado</h4>
    <div class="add-item" routerLink="/wecare/chamado/cadastrar">
      <i class="bx bx-plus"></i>
    </div>
  </div>
  <hr />

  <div class="input-group mb-3">
    <input
    [(ngModel)]="searchText"
          type="search"
          class="form-control"
          name=""
          id=""
          placeholder="O que você procura?"
    />
    <i class="input-group-text bx bx-search"></i>
  </div>

  <div class="header-ajuda">
    <h5>Meus</h5>
  </div>

  <table>
    <thead>
      <tr>
        <!-- <th scope="col">ID</th> -->
        <th class="text-center" scope="col">ID</th>
        <!-- <th class="text-center" scope="col">Imagem</th> -->
        <th class="text-center" scope="col">Definição</th>
        <th class="text-center" scope="col">Categoria</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Descrição</th>
        <th class="text-center" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of facade.chamado">
        <th class="text-center">{{ item.id }}</th>
        <!-- <td class="text-center">
      <img src="assets/img/user.png" alt="wecare" class="header__img text-center" />
    </td> -->
        <td class="text-center">{{ item.definicao }}</td>
        <td class="text-center">{{ item.categoria }}</td>
        <td class="text-center">{{ item.status }}</td>
        <td class="text-center">{{ item.comentario }}</td>

        <td class="text-center">
          <button
            class="btn btnEditar"
            style="margin-right: 10px"
            routerLink="/wecare/chamado/{{ item.id }}/alterar"
          >
            Editar
          </button>
          <button class="btn btnDeletar" (click)="excluirSolicitacao(item.id)">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  
  <div class="header-ajuda mt-5">
    <h5>Geral</h5>
  </div>

  <table>
    <thead>
      <tr>
        <th class="text-center" scope="col">ID</th>
        <!-- <th class="text-center" scope="col">Imagem</th> -->
        <th class="text-center" scope="col">Definição</th>
        <th class="text-center" scope="col">Categoria</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Descrição</th>
        <th class="text-center" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of facade.chamadoDisponiveis">
        <th class="text-center">{{ item.id }}</th>
        <!-- <td class="text-center">
      <img src="assets/img/user.png" alt="wecare" class="header__img text-center" />
    </td> -->
        <td class="text-center">{{ item.definicao }}</td>
        <td class="text-center">{{ item.categoria }}</td>
        <td class="text-center">{{ item.status }}</td>
        <td class="text-center">{{ item.comentario }}</td>

        <td class="text-center">
          <button
            class="btn btn-success"
            style="margin-right: 10px"
            (click)="ajudar(item)"
          >
            Ajudar
          </button>
          <button class="btn btn-warning" (click)="openModalClassificacao(templateClassificar, item)">
            Finalizar
          </button>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="header-ajuda mt-5">
    <h5>Finalizado</h5>
  </div>

  <table>
    <thead>
      <tr>
        <!-- <th scope="col">ID</th> -->
        <th class="text-center" scope="col">ID</th>
        <!-- <th class="text-center" scope="col">Imagem</th> -->
        <th class="text-center" scope="col">Definição</th>
        <th class="text-center" scope="col">Categoria</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Descrição</th>
        <th class="text-center" scope="col">Avaliação</th>
        <th class="text-center" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of facade.chamado">
        <th class="text-center">10</th>
        <!-- <td class="text-center">
      <img src="assets/img/user.png" alt="wecare" class="header__img text-center" />
    </td> -->
        <td class="text-center">Saúde</td>
        <td class="text-center">Doar Sangue</td>
        <td class="text-center">Finalizado</td>
        <td class="text-center">Necessito de alguém que tenha sangue A+</td>
        <td class="text-center">
            <ng-container>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </ng-container>
        </td>

        <td class="text-center">
          <div class="btn-group-ajuda">
            <div class="btn-detalhes">
                <button class="btn btn-padrao" (click)="openModal(template, item)">Detalhes</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <div class="listagem__vazia" *ngIf="!facade.chamado">Nada a ser mostrado</div>
</main>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Detalhamento</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Auxiliado</th>
              <td>Pedro</td>
            </tr>
            <tr>
              <th>Contribuinte</th>
              <td>Guilherme</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>pedro@hotmail.com</td>
            </tr>
            <tr>
              <th>Telefone</th>
              <td>14998776622</td>
            </tr>
            <tr>
              <th>Classificação</th>
              <td>5</td>
            </tr>
            <tr>
              <th>Categoria</th>
              <td>Saúde</td>
            </tr>
            <tr>
              <th>Definição</th>
              <td>Doar Sangue</td>
            </tr>
            <tr>
              <th>Comentario</th>
              <td>Necessito de alguém que tenha sangue A+</td>
            </tr>
          </tbody>
        </table>
  </div>
</ng-template>

<ng-template #templateClassificar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Classificação</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input
      type="text"
      class="form-control"
      [formControl]="classificacaoForm"
      placeholder="Avalie de 1 a 5"
    />
  </div>
  <div class="modal-footer">
    <button class="btn btn-padrao btn-success" (click)="finalizar()">
      Confirmar
    </button>
  </div>
</ng-template>
