<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a routerLink="/" class="logmo d-flex align-items-center w-auto">
                <img
                  class="img__logo"
                  src="assets/img/WE_CARE_LOGO_1.svg"
                  width="50%"
                  alt=""
                />
              </a>
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Faça Login</h5>
                  <p class="text-center small">
                    Insira seus dados para continuar
                  </p>
                </div>

                <form [formGroup]="loginForm" class="row g-3 needs-validation" novalidate>
                  <div class="col-12">
                    <label for="userEmail" class="form-label">E-mail</label>
                    <div class="input-group has-validation">
                      <input
                      formControlName="user_email"
                        type="email"
                        class="form-control"
                        id="yourEmail"
                        required
                      />
                      <!-- <div class="invalid-feedback">Por favor, insira seu e-mail!</div> -->
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Senha</label>
                    <input
                    formControlName="user_password"
                      type="password"
                      class="form-control"
                      id="yourPassword"
                      required
                    />
                  </div>

                  <div class="col-12">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="remember"
                        value="true"
                        id="rememberMe"
                      />

                      <label class="form-check-label" for="rememberMe"
                        >Lembrar-me</label
                      >
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-login btn-primary w-100" (click)="login()">
                      Login
                    </button>
                  </div>

                  <div class="col-12 text-center">
                    <p class="small mb-0">
                      Ainda não possui uma conta?
                      <a routerLink="/register-user">Cadastrar-se</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
