<main>
  <div class="wallet">
    <div class="wallet-title">
        <div class="wallet-note">
            <i class='bx bx-wallet nav__icon"'></i><br>
            <span>Minha Carteira</span>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="d-flex pb-3">
                <p class="text-muted">Ajude pessoas, acumule pontos e tenha acesso à benefícios</p>

            </div>
            <div class="progress mb-2">
                <div class="progress-bar p-green mx1" role="progressbar" style="width: 50%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"> </div>
                <div class="icon1 d-flex align-items-center justify-content-center">
                    <span class="bx bx-gift "></span>
                </div>
                <div class="icon2 d-flex align-items-center justify-content-center">
                    <span class="bx bx-check "></span>
                </div>
            </div>
        </div>
        <div class="box">
            <p class="h-dash">Estatísticas</p>
            <p class="fst-italic textmuted">Seu progresso</p>
            <div class="row mx-0 mt-2">
                <div class="col-md-4 p-0 border-end">
                    <div class="viewbox">
                        <p class="roxo">180</p>
                        <p class="total">Total de Pontos</p>
                    </div>
                </div>
                <div class="col-md-4 p-0 border-end">
                    <div class="viewbox">
                        <p class="roxo">50</p>
                        <p class="total">Total de Ajuda Realizadas</p>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="viewbox">
                        <p class="roxo">3</p>
                        <p class="total">Total de Ajudas Recebidas</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="box2 mt-3">
                    <div class="d-flex mt-2 "> <span class="bx bx-book-heart mt-1"></span>
                        <div class="w-100 border-bottom">
                            <p class="pbox">Ajudei com</p>
                            <a class="textmuted mb-2" href="history.html">Acesse o seu histórico de ajudas</a>
                        </div>
                    </div>
                    <div class="d-flex mt-2"> <span class="bx bx-donate-heart mt-1"></span>
                        <div class="w-100 border-bottom">
                            <p class="pbox">Recebi ajuda de</p>
                            <a class="textmuted mb-2" href="rating.html ">Veja quem te ajudou, e avalie o perfil de seu
                                ajudante</a>
                        </div>
                    </div>
                    <div class="d-flex mt-2"> <span class="bx bx-trophy mt-1"></span>
                        <div class="w-100 border-bottom">
                            <p class="pbox">Receber Recompensa</p>
                            <a class="textmuted mb-2" href="rewards.html">Troque seus pontos por algum brinde
                                incrível</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>