main{
    margin: 100px;
    padding: 50px;
  }
  
.disabled{
    cursor: not-allowed;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: auto;
  margin: auto;
  width: 100%;
}

table thead tr {
  background-color: #4282F7;
  color: #ffff;
}

table tr {
  background-color: #ffff;
  border: 1px solid #ccc;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #4282F7;
  // max-width: fit-content;
  margin-bottom: 10px;
}
// Botões
.btnEditar {
  border: none;
  // border-radius: 5px 0 0 5px;
  border-radius: 5px;
  background-color: #ffc107;
  color: #ffff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 5px;
}
.btnDeletar {
  border: none;
  // border-radius: 0 5px 5px 0;
  border-radius: 5px;
  background-color: red;
  color: #ffff;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 5px;
}
// Ícones
.bx {
  font-size: 1.25rem;
}