<main>
  <h4>Sub Categoria</h4>
  <hr />

  <form [formGroup]="subCategoriaForm">
    <div class="mb-3">
      <label for="nome" class="form-label">Categorias</label>
      <ng-select
        [items]="categorias"
        bindLabel="name"
        bindValue="id"
        formControlName="category"
      >
      </ng-select>
    </div>

    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input
        type="email"
        class="form-control"
        id="nome"
        formControlName="name"
      />
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea
        class="form-control"
        id="descricao"
        rows="3"
        formControlName="description"
      ></textarea>
    </div>

    <div style="text-align: end">
      <button
        type="button"
        class="btn btn-primary mr-3"
        (click)="salvar()"
        [disabled]="subCategoriaForm.invalid"
      >
        {{ isAlterando ? "Atualizar" : "Cadastrar" }}
      </button>
      <button type="button" class="btn btn-danger" (click)="resetForm()">
        {{ isAlterando ? "Cancelar" : "Limpar" }}
      </button>
    </div>
  </form>

  <hr />

<table>
  <thead>
    <tr>
      <th class="text-center" scope="col">ID</th>
      <th class="text-center" scope="col">Categoria</th>
      <th class="text-center" scope="col">Nome</th>
      <th class="text-center" scope="col">Descrição</th>
      <th class="text-center" width="100" scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subCategoria of subCategorias">

      <th class="text-center" scope="row">{{ subCategoria.id }}</th>
      <td class="text-center">{{ subCategoria.category }}</td>
      <td class="text-center">{{ subCategoria.name }}</td>
      <td class="text-center">{{ subCategoria.description}}</td>
      <td class="text-center" width="100">
        <i
          class="bx bxs-pencil text-warning mr-3 add-cursor-pointer"
          (click)="preencherForm(subCategoria)"
        ></i>
        <i
          class="bx bxs-trash text-danger add-cursor-pointer"
          (click)="excluir(subCategoria.id)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
<br />
<div class="listagem__vazia" *ngIf="!subCategorias">Nada a ser mostrado</div>
</main>
