<!--========== HEADER ==========-->
<header class="header">
    <div class="header__container">
        <a routerLink="/wecare/home" class="header__logo">We Care</a>

        <div class="header-user">
            <label class="text-title">
                {{ userName }}
            </label>
        </div>

        <img src="assets/img/user.png" alt="wecare" class="header__img" />

        <div class="header__toggle">
            <!--========== MENU ICONE - RESPONSIV ==========-->
            <i class="bx bx-menu" id="header-toggle"></i>
        </div>
    </div>
  </header>

  <!--========== NAV ==========-->
  <div class="nav" id="navbar">
    <nav class="nav__container">
      <div>
        <a routerLink="/wecare/home" class="nav__link nav__logo">
          <span class="nav__logo-name">We Care</span>
        </a>

        <div class="nav__list">
          <div class="nav__items">
            <h3 class="nav__subtitle">PERFIL</h3>
            <!--========== INICIO ==========-->
            <a routerLink="/wecare/home" class="nav__link active">
              <i class="bx bx-home nav__icon"></i>
              <span class="nav__name">Início</span>
            </a>
            <!--========== SET 1 - DROPDOWN ==========-->
            <div class="nav__dropdown">
              <a href="#" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">Meu Perfil</span>
                <!-- <i
                  class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                ></i> -->
              </a>
              <!--========== CARTEIRA E HISTÓRICO ==========-->
              <!-- <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content"> -->
                  <!-- <a routerLink="/wecare/carteira" class="nav__dropdown-item"
                    >Carteira</a
                  > -->
                  <!-- <a routerLink="/wecare/historico" class="nav__dropdown-item"
                    >Histórico</a -->
                <!-- </div>
              </div> -->
            </div>
            <!--========== MENSAGENS ==========-->
            <a routerLink="/wecare/chat" class="nav__link">
              <i class="bx bx-message-rounded nav__icon"></i>
              <span class="nav__name">Mensagens</span>
            </a>
          </div>
          <!--========== SET 2 - MENU ==========-->
          <div class="nav__items">
            <h3 class="nav__subtitle">Menu</h3>
            <!--========== AJUDAS ==========-->
           
            <div class="nav__dropdown">
              <a routerLink="/wecare/chamado" class="nav__link">
                <i class="bx bx-user-voice nav__icon"></i>
                <span class="nav__name">Chamados</span>
              </a>
            </div>
            <div class="nav__dropdown">
              <!--========== RATING ==========-->
              <a routerLink="/wecare/categoria" class="nav__link">
                <i class='bx bx-category nav__icon'></i>
                <span class="nav__name">Categorias</span>
              </a>
            </div>
            <!--========== RECOMPENSAS ==========-->
            <a routerLink="/wecare/subcategoria" class="nav__link">
              <i class='bx bx-purchase-tag nav__icon' ></i>
              <span class="nav__name">Sub Categorias</span>
            </a>
           
            <!--========== CONFIGURAÇÕES ==========-->
            <a routerLink="/wecare/configuracoes" class="nav__link">
              <i class="bx bx-cog nav__icon"></i>
              <span class="nav__name">Configurações</span>
            </a>
          </div>
        </div>
      </div>
      <!--========== END NAV ==========-->
      <!--========== SAIR ==========-->
      <a class="nav__link nav__logout" (click)="disconnect()">
        <i class="bx bx-log-out nav__icon"></i>
        <span class="nav__name">Sair</span>
      </a>
    </nav>
  </div>
 
  <ng-content></ng-content>
