.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  background: #4282F7;  
  border-radius: 4px;
  font-weight: 600;
  max-width: 300px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}


.btn:hover {
  color: #fff;
  background-color: #052A6D;
}