<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a routerLink="/" class="logo d-flex align-items-center w-auto">
                <img
                  class="img__logo"
                  src="assets/img/WE_CARE_LOGO_1.svg"
                  width="50%"
                  alt=""
                />
              </a>
            </div>
            <div class="d-flex justify-content-center py-4">
              <a routerLink="/" class="logo d-flex align-items-center w-auto">
              </a>
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Cadastro</h5>
                  <p class="text-center small">
                    Preencha os dados e finalize o seu cadastro
                  </p>
                </div>

                <form [formGroup]="registerUserForm" class="row g-3">
                  <div class="col-md-6">
                    <label for="inputFullName" class="form-label">
                      Nome Completo</label
                    >
                    <input
                      formControlName="name"
                      type="text"
                      class="form-control"
                      id="inputFullName"
                    />
                  </div>

                  <div class="col-md-6">
                    <label
                      
                      for="sex"
                      class="form-label"
                      >Sexo</label
                    >
                    <select id="inputSexo" class="form-select" formControlName="sex">
                      <option selected value="FEMININO">Feminino</option>
                      <option value="MASCULINO">Masculino</option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <label for="inputCPF" class="form-label"> CPF</label>
                    <input
                      formControlName="cpf"
                      type="text"
                      class="form-control"
                      maxlength="14"
                      id="inputCPF"
                      mask="000.000.000-00"
                      placeholder="000.000.000-00"
                    />
                    <small
                      class="text-danger"
                      *ngIf="
                        $any(registerUserForm).get('cpf').errors?.cpfInvalido
                      "
                    >
                      CPF inválido
                    </small>
                  </div>

                  <div class="col-md-6">
                    <label for="inputDate" class="form-label">
                      Data Nascimento</label
                    >
                    <input
                      formControlName="birth_date"
                      type="date"
                      class="form-control"
                    />
                  </div>

                  <div class="col-md-6">
                    <label for="inputAddress" class="form-label"
                      >Endereço
                    </label>
                    <input
                      formControlName="address"
                      type="text"
                      class="form-control"
                      id="inputAddress"
                    />
                  </div>

                  <div class="col-md-6">
                    <label for="inputPhone" class="form-label"> Telefone</label>
                    <input
                      formControlName="phone"
                      type="phone"
                      class="form-control"
                      id="inputPhone"
                      placeholder="(00) 00000-0000"
                      mask="(00) 00000-0000"
                    />
                  </div>

                  <div class="col-md-6">
                    <label for="inputEmail" class="form-label"> E-mail</label>
                    <input
                      type="email"
                      formControlName="email"
                      class="form-control"
                      id="inputEmail"
                    />
                  </div>

                  <div class="col-md-6">
                    <label for="inputPassword" class="form-label"> Senha</label>
                    <input
                      formControlName="password"
                      type="password"
                      class="form-control"
                      id="inputEmail"
                    />
                  </div>

                  <div class="col-12">
                    <button
                      (click)="registerUser()"
                      class="btn w-100 btn-cadastrar"
                      type="submit"
                    >
                      Cadastrar
                    </button>
                  </div>

                  <div class="col-12">
                    <p class="small mb-0 text-center">
                      Já possui uma conta?
                      <a routerLink="/login">Faça Login</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
