<main>
  
  <h4>
    <i class='bx bx-star nav__icon"'></i>
    Rating</h4>
<hr>

<div class="wallet">
    
    </div>
    <header>
        <h1>Top 20 Melhores Ajudantes</h1>
    </header>
    <div class="wrapper">
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Nome</th>
                    <th>Avaliação média</th>
                    <th>Total Ajudas</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of rating; let i = index">
                    <tr *ngIf="item.id_usuario_contribuinte">
                        <td class="rank">{{i}}</td>
                        <td class="name">{{item.nome_usuario_contribuinte}}</td>
                        <td class="points">{{(+item.media_classificacao).toFixed(2)}}</td>
                        <td class="up-down">{{item.total_ajudas}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</main>