
main{
  margin: 100px;
  padding: 50px;
}

.wallet-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.wallet-note{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.5rem;
  width: 100%;
  background: #4282F7;
  color: #fff;
  font-weight: bold;
  line-height: 80px;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 5px;
}

header {
margin: 0 auto;
padding: 1em;
text-align: center;
}

header h1 {
font-weight: 600;
font-size: 3em;
margin: 0;
}

.wrapper {
line-height: 1.5em;
margin: 0 auto;
padding: 2em 0 3em;
width: 90%;
max-width: 2000px;
overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
}

th {

  font-weight: bold;
  white-space: nowrap;
}

td, th {
  padding: 1em 1.5em;
  text-align: left;
}

tbody tr:nth-child(2n-1) {
  background-color: #f5f5f5;
  transition: all .125s ease-in-out;
}
// tbody tr:hover {
//   background-color: #a8a8fd;
// }

td.rank {
text-transform: capitalize;
}