<main>
  <h4>{{ idEditar ? 'Atualizar' : 'Cadastrar'}} Chamado</h4>
<hr>

<form [formGroup]="chamadoForm">

    <div class="mb-3">
        <label for="nome" class="form-label">Categorias</label>
        <ng-select [items]="facade.categorias" 
           bindLabel="name" 
           bindValue="id" 
           formControlName="id_category">
        </ng-select>
    </div>    

    <div class="mb-3">
        <label for="nome" class="form-label">Sub Categorias</label>
        <ng-select [items]="facade.subCategorias" 
           bindLabel="name" 
           bindValue="id" 
           formControlName="subcategory">
        </ng-select>
    </div>

    <div class="mb-3" *ngIf="idEditar">
        <label for="nome" class="form-label">Status</label>
        <ng-select [items]="status" 
           bindLabel="name" 
           bindValue="value" 
           formControlName="is_finished">
        </ng-select>
    </div>

    <div class="mb-3">
        <label for="comment" class="form-label">Comentario</label>
        <textarea class="form-control" id="comment" rows="3" formControlName="comment"></textarea>
    </div>

    <div style="text-align: end;">
        <button type="button" class="btn btn-primary mr-3" (click)="salvar()" [disabled]="chamadoForm.invalid">
            {{ idEditar ? 'Atualizar' : 'Cadastrar'}}
        </button>
        <button type="button" class="btn btn-danger" (click)="facade.voltarParaListagem()">Cancelar</button>
    </div>

</form>
</main>